*{
    box-sizing: border-box;
    background-color: grey;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-evenly;
}

header{
    text-align: center;
    background-color: grey;
    color:aqua;
    padding: 20px;
}

main{
    display:flex;
    flex-wrap: wrap;
    text-align: left;
}

footer{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    color: aqua;
    background-color: grey;
}

.Tips{
    display: flex;
    flex-wrap: wrap;
    background-color: grey;
    padding: 5px;
    margin: 5px;
    justify-content: space-evenly;
    align-items: flex-start;
}

.card {
    border-style: double;
    border-color: aliceblue;
    border-width: 4px;
    padding: 10px;
    margin: 20px;
    height: 350px;
    aspect-ratio: 1;
    color:aqua;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.card header{
    border-style: solid;
    border-color: aliceblue;
    position: relative;
    margin-top: -25px;
    border-radius: 15px;
}

.gradient{
    background-image:linear-gradient(
        rgba(102, 234, 236, 0.344)0%,
        rgba(102, 236, 222, 0.6)100%);
    border-radius: 15px;
    color: white;
    height:100%;

}

.code, .card header {
    border-radius: 8px;
    transition: all 0.5s ease-in-
out;
}

.card:hover,
.card:hover, .card header{
    box-shadow: inset 0px 0px 8px 
rgb(86, 1, 232), 0 0 15px 
rgb(102, 236, 214);
}    



    




